In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
# Import csv raw file
csv_file = "Resources/disney_plus_raw.csv"
disney_df = pd.read_csv(csv_file)
disney_df.head()

,imdb_id,title,plot,type,rated,year,released_at,added_at,runtime,genre,director,writer,actors,language,country,awards,metascore,imdb_rating,imdb_votes
0,tt0147800,10 Things I Hate About You,"A pretty, popular teenager can't go out on a d...",movie,PG-13,1999,31 Mar 1999,"November 12, 2019",97 min,"Comedy, Drama, Romance",Gil Junger,"Karen McCullah, Kirsten Smith","Heath Ledger, Julia Stiles, Joseph Gordon-Levi...","English, French",USA,2 wins & 13 nominations.,70.0,7.3,"283,945"
1,tt7019028,101 Dalmatian Street,This series follows the lives of Delilah and D...,series,NaN,2018–,25 Mar 2019,"February 28, 2020",NaN,"Animation, Comedy, Family",NaN,NaN,"Josh Brener, Michaela Dietz, Bert Davis, Abiga...",English,"UK, USA, Canada",NaN,NaN,6.2,124
2,tt0115433,101 Dalmatians,An evil high-fashion designer plots to steal D...,movie,G,1996,27 Nov 1996,"November 12, 2019",103 min,"Adventure, Comedy, Crime, Family",Stephen Herek,"Dodie Smith (novel), John Hughes (screenplay)","Glenn Close, Jeff Daniels, Joely Richardson, J...","English, Spanish","USA, UK",Nominated for 1 Golden Globe. Another 3 wins &...,49.0,5.7,"97,785"
3,tt0324941,101 Dalmatians 2: Patch's London Adventure,"Being one of 101 takes its toll on Patch, who ...",movie,G,2002,21 Jan 2003,"November 12, 2019",74 min,"Animation, Adventure, Comedy, Family, Musical","Jim Kammerud, Brian Smith","Jim Kammerud (story), Dan Root (story), Garret...","Barry Bostwick, Jason Alexander, Martin Short,...",English,USA,5 wins & 10 nominations.,NaN,5.8,"7,434"
4,tt0211181,102 Dalmatians,Cruella DeVil gets out of prison and goes afte...,movie,G,2000,22 Nov 2000,"November 12, 2019",100 min,"Adventure, Comedy, Family",Kevin Lima,"Dodie Smith (novel), Kristen Buckley (story), ...","Glenn Close, Gérard Depardieu, Ioan Gruffudd, ...",English,"USA, UK",Nominated for 1 Oscar. Another 1 win & 7 nomin...,35.0,4.9,"33,444"

In [3]:
# Clean df
disney_df = disney_df[["title", "year"]]
print(len(disney_df))
disney_df

992

                                          title   year
0                    10 Things I Hate About You   1999
1                          101 Dalmatian Street  2018–
2                                101 Dalmatians   1996
3    101 Dalmatians 2: Patch's London Adventure   2002
4                                102 Dalmatians   2000
..                                          ...    ...
987                                      Zapped   2014
988             Zenon: Girl of the 21st Century   1999
989                           Zenon: The Zequel   2001
990                                   Zenon: Z3   2004
991                                    Zootopia   2016

[992 rows x 2 columns]

In [4]:
# Import IMDB250 csv
csv_file = "Resources/imdb250.csv"
imdb_df = pd.read_csv(csv_file)
imdb_df

,Unnamed: 0,rank,id,title,year,rating
0,0,1,tt0111161,The Shawshank Redemption,1994,9.2
1,1,2,tt0068646,The Godfather,1972,9.1
2,2,3,tt0071562,The Godfather: Part II,1974,9.0
3,3,4,tt0468569,The Dark Knight,2008,9.0
4,4,5,tt0050083,12 Angry Men,1957,8.9
...,...,...,...,...,...,...
242,242,243,tt2758880,Winter Sleep,2014,8.0
243,243,244,tt0043338,Ace in the Hole,1951,8.0
244,244,245,tt0064115,Butch Cassidy and the Sundance Kid,1969,8.0
245,245,246,tt0103639,Aladdin,1992,8.0
246,246,247,tt0083922,Fanny and Alexander,1982,8.0

In [5]:
# Match IMDB with Disney file
imdb_disney = pd.merge(imdb_df, disney_df, on="title")
imdb_disney = imdb_disney[["rank", "id", "title", "rating", "year_x"]]
imdb_disney = imdb_disney.rename(columns={"year_x":"year"})

imdb_disney = imdb_disney.drop_duplicates(subset="id", keep="first")
imdb_disney["service"] = "disney"
imdb_disney

,rank,id,title,rating,year,service
0,14,tt0080684,Star Wars: Episode V - The Empire Strikes Back,8.7,1980,disney
1,25,tt0076759,Star Wars: Episode IV - A New Hope,8.6,1977,disney
2,34,tt0110357,The Lion King,8.5,1994,disney
4,63,tt0910970,WALL·E,8.4,2008,disney
5,70,tt4154796,Avengers: Endgame,8.3,2019,disney
6,75,tt2380307,Coco,8.3,2017,disney
7,81,tt0114709,Toy Story,8.3,1995,disney
8,85,tt0086190,Star Wars: Episode VI - Return of the Jedi,8.3,1983,disney
9,102,tt0012349,The Kid,8.2,1921,disney
10,111,tt0435761,Toy Story 3,8.2,2010,disney
11,121,tt1049413,Up,8.2,2009,disney
12,158,tt2096673,Inside Out,8.1,2015,disney
13,170,tt0266543,Finding Nemo,8.1,2003,disney
14,230,tt0198781,"Monsters, Inc.",8.0,2001,disney
15,239,tt0093779,The Princess Bride,8.0,1987,disney
16,246,tt0103639,Aladdin,8.0,1992,disney

In [6]:
imdb_disney.describe()

             rank     rating         year
count   16.000000  16.000000    16.000000
mean   114.000000   8.262500  1994.437500
std     74.872336   0.209364    23.647322
min     14.000000   8.000000  1921.000000
25%     68.250000   8.100000  1986.000000
50%     93.500000   8.250000  1998.000000
75%    161.000000   8.325000  2009.250000
max    246.000000   8.700000  2019.000000

In [19]:
rg_csv_file = "Resources/disneyplus-reelgood.csv"
disneyplus_url_df = pd.read_csv(rg_csv_file)
disneyplus_url_df.loc[(disneyplus_url_df.title == "Star Wars: A New Hope"),'title']="Star Wars: Episode IV - A New Hope"
disneyplus_url_df.loc[(disneyplus_url_df.title == 'Star Wars: The Empire Strikes Back'),'title']='Star Wars: Episode V - The Empire Strikes Back'
disneyplus_url_df.loc[(disneyplus_url_df.title == 'Star Wars: Return of the Jedi'),'title']='Star Wars: Episode VI - Return of the Jedi'
disneyplus_newdf = pd.merge(imdb_disney, disneyplus_url_df, on='title', how='outer' )
disneyplus_newdf = disneyplus_newdf[["rank", "id", "title", "rating", "year_x", "service", "disneyplus_url"]]
disneyplus_newdf = disneyplus_newdf.rename(columns={"year_x":"year"})

disneyplus_newdf

,rank,id,title,rating,year,service,disneyplus_url
0,14.0,tt0080684,Star Wars: Episode V - The Empire Strikes Back,8.7,1980.0,disney,https://www.disneyplus.com/video/90ff6e09-afd3...
1,25.0,tt0076759,Star Wars: Episode IV - A New Hope,8.6,1977.0,disney,https://www.disneyplus.com/video/f4add311-5f2a...
2,34.0,tt0110357,The Lion King,8.5,1994.0,disney,https://www.disneyplus.com/video/87982e2b-5636...
3,63.0,tt0910970,WALL·E,8.4,2008.0,disney,https://www.disneyplus.com/video/825ef1dd-24fe...
4,70.0,tt4154796,Avengers: Endgame,8.3,2019.0,disney,https://www.disneyplus.com/video/aa2c93d5-6e09...
5,75.0,tt2380307,Coco,8.3,2017.0,disney,https://www.disneyplus.com/video/4ccb6027-d7ca...
6,81.0,tt0114709,Toy Story,8.3,1995.0,disney,https://www.disneyplus.com/video/eccdbdc5-7767...
7,85.0,tt0086190,Star Wars: Episode VI - Return of the Jedi,8.3,1983.0,disney,https://www.disneyplus.com/video/1b9be263-68b4...
8,102.0,tt0012349,The Kid,8.2,1921.0,disney,NaN
9,111.0,tt0435761,Toy Story 3,8.2,2010.0,disney,https://www.disneyplus.com/video/ea032f8d-f213...
10,121.0,tt1049413,Up,8.2,2009.0,disney,https://www.disneyplus.com/video/6a45dca1-b196...
11,158.0,tt2096673,Inside Out,8.1,2015.0,disney,https://www.disneyplus.com/video/0d7dbe67-9eb6...
12,170.0,tt0266543,Finding Nemo,8.1,2003.0,disney,https://www.disneyplus.com/video/7d1b7852-f2ce...
13,230.0,tt0198781,"Monsters, Inc.",8.0,2001.0,disney,https://www.disneyplus.com/video/c27abdc6-ea57...
14,239.0,tt0093779,The Princess Bride,8.0,1987.0,disney,https://www.disneyplus.com/video/f464a427-f39b...
15,246.0,tt0103639,Aladdin,8.0,1992.0,disney,https://www.disneyplus.com/video/c9fd8fa3-fa17...
16,NaN,NaN,The Avengers,NaN,NaN,NaN,https://www.disneyplus.com/video/c05ea526-1378...
17,NaN,NaN,Guardians of the Galaxy,NaN,NaN,NaN,https://www.disneyplus.com/video/04667710-5866...
18,NaN,NaN,Zootopia,NaN,NaN,NaN,https://www.disneyplus.com/video/6dfdd061-195f...
19,NaN,NaN,Ratatouille,NaN,NaN,NaN,https://www.disneyplus.com/video/73265701-be28...
20,NaN,NaN,Beauty and the Beast,NaN,NaN,NaN,https://www.disneyplus.com/video/8b998fae-f7a6...
21,NaN,NaN,The Incredibles,NaN,NaN,NaN,https://www.disneyplus.com/video/65509160-a48d...
22,NaN,NaN,Pirates of the Caribbean: The Curse of the Bla...,NaN,NaN,NaN,https://www.disneyplus.com/video/66488bb4-9782...
23,NaN,NaN,The Nightmare Before Christmas,NaN,NaN,NaN,https://www.disneyplus.com/video/5c765c2c-cf09...
24,NaN,NaN,Free Solo,NaN,NaN,NaN,https://www.disneyplus.com/video/83bbd786-ff66...
25,NaN,NaN,The Sound of Music,NaN,NaN,NaN,https://www.disneyplus.com/video/3c32dadb-26a6...
26,NaN,NaN,Togo,NaN,NaN,NaN,https://www.disneyplus.com/video/58965253-5387...
27,NaN,NaN,The Straight Story,NaN,NaN,NaN,https://www.disneyplus.com/video/4ebafebb-d174...
28,NaN,NaN,Mickey's Christmas Carol,NaN,NaN,NaN,https://www.disneyplus.com/video/dec7fca2-7b4d...
29,NaN,NaN,Before the Flood,NaN,NaN,NaN,https://www.disneyplus.com/video/396358e4-ea99...
30,NaN,NaN,Empire of Dreams: The Story of the Star Wars T...,NaN,NaN,NaN,https://www.disneyplus.com/video/46be4e3f-1c28...
31,NaN,NaN,Newsies: The Broadway Musical,NaN,NaN,NaN,https://www.disneyplus.com/video/dcbc9a3e-4467...
32,NaN,NaN,Kitbull,NaN,NaN,NaN,https://www.disneyplus.com/movies/kitbull/48I9...
33,NaN,NaN,The Disney Family Singalong,NaN,NaN,NaN,https://www.disneyplus.com/video/68483a07-5512...
34,NaN,NaN,Phineas and Ferb: Star Wars,NaN,NaN,NaN,https://www.disneyplus.com/video/293e26ef-bb78...
35,NaN,NaN,Phineas and Ferb: Mission Marvel,NaN,NaN,NaN,https://www.disneyplus.com/video/28dd1759-a6e0...
36,NaN,NaN,Expedition Mars,NaN,NaN,NaN,https://www.disneyplus.com/video/f171e211-f544...
37,NaN,NaN,Prowlers of the Everglades,NaN,NaN,NaN,https://www.disneyplus.com/video/13ac5f7a-b646...
38,NaN,NaN,The Flood,NaN,NaN,NaN,https://www.disneyplus.com/video/d11a9dfc-db05...

In [8]:
# Save as csv
disneyplus_newdf.to_csv('Resources/disney_filtered.csv')

In [ ]:
disney_plus_url['title'].replace(['Star Wars: A New Hope', 'Star Wars: Episode IV - A New Hope'])
disney_plus_url['title'].replace(['Star Wars: The Empire Strikes Back', 'Star Wars: Episode V - The Empire Strikes Back'])
disney_plus_url['title'].replace(['Star Wars: Return of the Jedi', 'Star Wars: Episode VI - Return of the Jedi'])